.home{
    flex: 4;
    height: 600px;
}
.title-home{
    height: 30px;
    width: 200px;    
    background-color: #00665C;
    font-size: 10px;
    color: #fff;
    border-radius: 8px;
    margin: 10px 20px;
    text-align: center;
}
.titlename{
    padding-top: 5px;
}