.wrapper{
    width: 100%;
}
.infomation-text{
   padding-top: 5px;
}
.header{
    height: 46px;
}
.title-create{
    height: 30px;
    width: 200px;    
    background-color: #00665C;
    font-size: 10px;
    color: #fff;
    border-radius: 8px;
    margin: 10px 20px;
    text-align: center;
}
.maincontent{
    display: flex;
}
.listcontent{
  width: 50%;
}
.listcontent-row2{
    width: 50%;
    height: 600px;
    margin-left: 5px;

}
.footer-button{
    float: right;
    margin-right: 40px;
    margin-top: 50px;
    
}
.save{
    margin-right: 40px;
    width: 100px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #CDCDCD;
    background: #00665C;
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
.cancel{
    width: 100px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #CDCDCD;
    background: #CDCDCD;
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.cancel,.save:hover{
  cursor: pointer;
}