.form-order {
    padding: 20px 18px;
    border-radius: 6px;
    text-align: center;
    /* position: fixed;
    position: -webkit-sticky;
    top: 240px; */
    background-color: var(--white-color);
    border: 3px solid var(--green-color);
}

.form-order__heading {
    font-weight: 700;
    margin-bottom: 24px;
    color: var(--green-color);
}

.group-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.group-order__title {
    font-weight: 600;
    cursor: text;
    color: var(--green-color);
}

.group-order__input {
    width: 226px;
    padding: 8px 12px;
    font-size: 1.6rem;
    outline: none;
    border-radius: 6px;
    border: 2px solid var(--green-color);
}

.form-order__btn {
    font-size: 1.8rem;
    font-weight: 500;
    padding: 10px 80px;
    border-radius: 6px;
    margin-top: 26px;
    color: var(--white-color);
    background-color: var(--green-color);
}

.form-order__btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.order-error {
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
    color: #fb3f3f;
    margin-top: 4px;
    margin-left: 60px;
    cursor: default;
    user-select: none;
}
