/** @format */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
    --green-color: #00665c;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

input {
    outline: none;
    border: 1px solid var(--text-color);
    border-radius: 4px;
}

table {
    width: 100%;
}

th,
td {
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5;
}
