
.des-restaurant{
   width: 700px;
   border-radius: 10px;
   border: 1px solid #CDCDCD;
   margin-left: 10px;
   height: 300px;
   margin-top: 20px;
}
.title-des{
   margin-left: 20px;
    margin-top: 5px;
}