.restaurant-list {
    width: var(--max-width-body);
    margin: auto;
}

.restaurant-list__heading {
    display: flex;
    color: var(--text-color);
    padding-bottom: 30px;
    border-bottom: 2px solid var(--border-color);
}

.list-heading__link {
    color: var(--green-color);
    margin-right: 6px;
}

.list-heading__titile {
    margin-left: 6px;
}

.restaurant-list__content {
    width: 800px;
    display: flex;
    align-items: center;
    color: var(--text-color);
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid var(--border-color);
}

.list-content__img {
    width: 330px;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 22px;
}

.list-content__wrapp {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.list-content__left {
    width: 380px;
    line-height: 2.4rem;
}

.list-content__heading {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.list-content__discount {
    color: #cf022b;
    font-weight: 600;
    padding-left: 10px;
    border-left: 4px solid #cf022b;
}

.list-content__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 2.4rem;
}

.list-content__point {
    font-weight: 600;
}

/* ------------------------------ */
.pagination {
    width: 800px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px auto 0;
}

.pagination .page-item {
    display: block;
    position: relative;
    height: 50px;
    transition: 0.4s ease;
}

.pagination .page-item {
    font-size: 16px;
    height: 50px;
    background-color: transparent;
    display: block;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin: 0 6px;
}

.pagination .page-item.active a {
    color: var(--white-color);
    cursor: default;
    font-weight: 500;
    background-color: var(--green-color);
}

.pagination .page-item:hover a {
    color: var(--white-color);
    cursor: pointer;
    background-color: var(--green-color);
    opacity: 0.9;
}

a.page-link {
    color: #000;
    padding: 14px 16px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid var(--border-color);
}
