.home {
    height: auto;
    max-width: var(--max-width-body);
    margin: 0 auto;
    overflow: hidden;
}

.home-banner {
    position: relative;
    user-select: none;
}

.home-banner_img {
    width: 100%;
    height: 330px;
    border-radius: 10px;
    border: 3px solid var(--green-color);
    object-fit: cover;
    backdrop-filter: blur(2px);
}

.home-banner_title {
    font-size: 3.8rem;
    font-weight: 600;
    color: var(--green-color);
    position: absolute;
    top: 92px;
    left: 160px;
}

.home-about {
    margin-top: 36px;
    font-size: 1.6rem;
    text-align: justify;
    font-weight: 200;
    column-rule: var(--text-color);
}

.home-about__restaurant {
    font-size: var(--font-size-heading);
}

.home-about__header {
    line-height: 2.8rem;
    margin: 14px 0 16px 12px;
}

.home-about__footer {
    line-height: 2.8rem;
    margin-left: 12px;
}

.home-register {
    width: 100%;
    margin-top: 36px;
}

.home-register__heading {
    margin-bottom: 16px;
    font-size: var(--font-size-heading);
}

.home-register__content {
    display: flex;
    height: 316px;
}

.home-register__content-img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.home-register__content-info {
    width: 50%;
    padding-left: 30px;
    border-top: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.home-register__content-info h4 {
    font-size: 2rem;
    margin-top: 40px;
}

.home-register__content-info p {
    font-size: 1.6rem;
    color: var(--text-color);
    margin-top: 4px;
    line-height: 2.2rem;
    margin-right: 38px;
}

.btn-restaurant {
    color: var(--green-color);
    border: 1px solid var(--green-color);
    font-size: 1.6rem;
    border-radius: 4px;
    padding: 10px 12px;
    margin-top: 16px;
}

.btn-restaurant:hover {
    cursor: pointer;
    background-color: var(--hover-color);
}
