.sidebar{
    width:20%;
    background-color: #00665c;
    /* position: relative; */
    
}
.sidebarlist{
    /* position: absolute; */
    /* padding: 0 30px; */
}
.sidebar .img{
    height: 90px;
    margin-left:25%;
    object-fit: cover;
    /* position: absolute; */
    margin-top: 10px;
}
.name-owner{
    margin-left: 20%;
    font-size: 25px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #fff;
}

.function-name{
    margin-left: 10%;
    font-size: 18px;
    color: #fff;
    font-family: "Inter", Helvetica;
    font-weight: 700;
}
.sideMenu{
   /* position: absolute; */
   padding: 10px 15px;
   
}
.sidebarList-item{
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
}
.sidebarList-item:hover{
    background-color: #50E5D3;
}
.img-restaurant{
    margin-top: 20px;
}
.imgrestaurant{
    height: 170px;
    margin-left: 30px;
}
.sidebarIcon{
    margin-right: 5px;
    font-size: 30px !important;
}
.name-menu{
    margin-top: 5px;
    color: #fff;
    font-family: "Inter", Helvetica;
    font-weight: 700;
}
.dropdown{
    float: right;
    color: #2F88FF;
}

/* css sidebaroption */

.optionicon{
    transition: transform .3s;
}
.suvnav{
    padding-top: 5px;
    height: 0;
    overflow: hidden;

}

.sidebaroption.open .optionicon .dropdown{
     transform: rotate(180deg);
}
.sidebaroption.open .name-menu{
    overflow: hidden;
}
.sidebaroption.open .suvnav{
    height: auto;
}
.option{
    
    background-color: #fff;
    margin-top: 2px;
    width: 100%;
    padding: 10px 0;
    border: solid 2px #2F88FF;
}
.option:hover{
  background-color: #2F88FF;
}
.option-text{
    padding: 0 15px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
}
