.wrapper-search {
    min-width: 290px;
    height: 340px;
    box-shadow: 0 0px 5px #999;
    border-radius: 8px;
    padding: 8px 10px;
    overflow: hidden;
    overflow-y: auto;
    background-color: var(--white-color);
}

/* ----- Maps ----- */
.search-map {
    width: 100%;
    min-height: 44px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    background-color: #f9fafa;
    margin-top: 10px;
}

.search-map:hover,
.popper-restaurent:hover {
    background-color: #e4eeed;
    cursor: pointer;
}

.search-map-icon,
.popper-restaurent-icon {
    border: 1px solid var(--background-color);
    padding: 9px;
    border-radius: 4px;
    font-size: 12px;
    margin-left: 10px;
    color: var(--green-color);
}

.map-btn {
    font-size: 1.6rem;
    background-color: transparent;
    margin-left: 6px;
}

/* ----- Restaurent ----- */
.popper-restaurent {
    display: flex;
    align-items: center;
    width: 460px;
    min-height: 50px;
    border-radius: 6px;
    background-color: #f9fafa;
    margin-top: 10px;
}

.popper-restaurent__btn {
    width: 100%;
    font-size: 1.6rem;
    background-color: transparent;
    margin-left: 6px;
    cursor: pointer;
}

.popper-restaurent__name {
    display: flex;
    line-height: 2.4rem;
}

.popper-restaurent__address {
    line-height: 2.4rem;
    display: flex;
}