.account-user {
    margin-top: 60px;
    margin-left: 30px;
}

.account-heading {
    margin-bottom: 20px;
}

.account-manager,
.account-change {
    margin-bottom: 30px;
    padding: 40px 50px;
    border: 2px solid var(--border-color);
}

.account-manager__decs {
    margin-top: 2px;
    font-size: 1.3rem;
}

.account-manager__wrapp {
    display: flex;
    justify-content: space-between;
}

.account-manager__form,
.account-change__wrapp {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.ccount-manager__input,
.account-change__input {
    width: 280px;
    margin-top: 4px;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 1.6rem;
    outline: none;
    border: 2px solid var(--green-color);
}

.account-manager__radio {
    display: flex;
    margin-top: 4px;
}

.account-manager__sex {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.manage-sex__radio {
    width: 16px;
    height: 16px;
    margin-right: 6px;
}

.account-manager__btn,
.account-change__btn {
    font-size: 2rem;
    padding: 8px 26px;
    margin-top: 26px;
    border-radius: 6px;
    color: var(--white-color);
    background-color: var(--green-color);
}

.account-manager__btn:hover,
.account-change__btn:hover {
    opacity: 0.9;
    cursor: pointer;
}
