.detail {
    margin-top: calc(var(--default-layout-header-height) + 30px);
}

.detail-banner {
    width: 100%;
    height: 264px;
    overflow: hidden;
}

.detail-banner__img {
    width: 33.33333%;
    height: 100%;
}

/* ----- Header menu ----- */
.wrapper-detail {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.detail-content {
    width: calc(var(--max-width-body) - 200px);
    display: flex;
    overflow: hidden;
}

.detail-content__menu {
    width: 60%;
}

.detail-content__name {
    margin-bottom: 16px;
}

.detail-content__info {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.detail-content__icon {
    width: 40px;
    height: 40px;
    font-size: 1.8rem;
    margin-right: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--green-color);
    background-color: var(--hover-color);
}

.detail-open__heading {
    margin-top: 26px;
}

.detail-open__wrap {
    display: flex;
    margin-top: 14px;
}

.detail-open__week p {
    margin-right: 60px;
    line-height: 2.6rem;
}

.detail-open__time span {
    display: block;
    line-height: 2.6rem;
}

/* ------ Restaurant menu ----- */
.detail-menu__heading {
    margin-top: 30px;
}

.detail-menu__title {
    margin-top: 16px;
    margin-bottom: 10px;
}

.detail-menu__item {
    display: flex;
    justify-content: space-between;
    line-height: 2.4rem;
}

.detail-menu__name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    margin-right: 30px;
}

.detail-menu__price {
    padding-right: 20px;
}

.detail-menu__btn {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 8px 30px;
    margin-top: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
    color: var(--green-color);
    border-radius: 6px;
    border: 2px solid var(--green-color);
}

.detail-menu__btn:hover {
    cursor: pointer;
    background-color: var(--hover-color);
}

.detail-form__order {
    width: 40%;
    margin-left: 20px;
}

/* ----- Review restaurant ----- */
.detail-review {
    margin-top: 36px;
}

.detail-review__wrap {
    margin-top: 26px;
}

/* ----- Comment restaurant ----- */
.detail-comment {
    margin-top: 36px;
}

.wrapp-comment {
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding-top: 18px;
    border-top: 2px solid var(--border-color);
}

.wrapp-comment__avatar {
    margin-right: 10px;
}

.wrapp-comment__icon {
    font-size: 1.6rem;
    padding: 12px 13px;
    color: var(--green-color);
    background-color: var(--background-color);
    border-radius: 50%;
}

.comment-user {
    display: flex;
    align-items: center;
}

.comment-user__name {
    font-size: 1.4rem;
}

.comment-user__icon {
    font-size: 0.3rem;
    color: var(--matte-color);
    margin: 0 6px;
}

.comment-user__review,
.wrapp-comment__time {
    color: var(--matte-color);
    font-size: 1.4rem;
}

.detail-comment__icon {
    margin-top: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    cursor: pointer;
}

.detail-content__home {
    width: var(--max-width-body);
    margin-left: 50%;
    transform: translateX(-50%);
}
