.UserListTable {
    width: 100%;
    margin: 30px 0 50px;
}

.UserListTableRow {
    text-align: left;
}

thead .UserListTableRow:nth-child(1) {
    font-weight: 600;
    text-align: center;
    background-color: #e9dede;
}

.UserListCol {
    padding: 6px;
}

.UserListCol:nth-child(1) {
    text-align: center;
    width: 90px;
}

.UserListCol:nth-child(2) {
    width: 240px;
}

.UserListCol:nth-child(3) {
    width: 180px;
}

.UserListCol:nth-child(4) {
    width: 270px;
}

.UserListCol:nth-child(5) {
    width: 190px;
}

.UserListCol:nth-child(6) {
    width: 50px;
}

.unLock,
.lockUp {
    color: var(--white-color);
    padding: 2px 12px;
    border-radius: 10px;
    margin-right: 4px;
}

.unLock {
    background-color: #47ad47;
}

.lockUp {
    background-color: #d97373;
}

.tableRowIcon {
    font-size: 1.8rem;
    cursor: pointer;
    position: relative;
}

.UserListMenu {
    position: absolute;
    width: 120px;
    margin-top: 4px;
    color: var(--white-color);
    background-color: #84c884;
}

.UserListItem {
    padding: 6px 8px;
    display: flex;
    align-items: center;
}

.UserListItem:hover {
    opacity: 0.7;
    cursor: pointer;
}

.UserListItem:last-child {
    background-color: #d97373;
}

.UserListItemIcon {
    color: var(--black-color);
    font-size: 1.8rem;
    font-weight: 500;
    margin-right: 4px;
}
