
.des-restaurant{
   width: 700px;
   border-radius: 10px;
   border: 1px solid #CDCDCD;
   margin-left: 10px;
   height: 250px;
   margin-top: 20px;
}
.title-des{
   margin-left: 20px;
    margin-top: 5px;
    color: #00665C;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
 
}
.text-editor{
   margin-top: 10px;
}